// Import variables
@use "variables.scss";

// Define font
@mixin font($font, $size, $weight, $line_height, $color) {
  font-family: $font;
  font-size: $size;
  font-weight: $weight;
  line-height: $line_height;
  color: $color;
}

// Define box shadow
@mixin boxShadow($type) {
  @if $type == "black" {
    box-shadow: variables.$black-shadow; 
  } @else {
    box-shadow: variables.$white-shadow; 
  }
}