@media (min-width: 600px) {
  html {
    font-size: 67%;
  }

  .main {
    .benefits {
      height: auto;

      &__container {
        flex-flow: row wrap;
        justify-content: center;
        gap: 4rem;
        margin-bottom: 5rem;
      }

      &__section {
        margin-bottom: 0;
      }

      &__section:last-child {
        margin-bottom: 0;
      }
    }

    .image {
      display: none;
    }
  }
}
